<div class="ui-page ui-page-theme-a ui-page-header-fixed ui-page-active">
    <div data-role="header" data-position="fixed" class="bg-lightblue ui-header ui-bar-inherit ui-header-fixed slidedown">
        <a onClick="showLeftMenu();" href="javascript:void(0);" class="ui-btn ui-btn-left waves-effect waves-circle" data-role="button" role="button">
            <i class="zmdi zmdi-menu zmd-fw"></i>
        </a>
        <h1 class="ui-title" style="position: relative;">
            About English Square
        </h1>
    </div>
    <div style="padding: 15px;text-align: justify;text-indent: 20px;">
        <p>Bạn đã bao giờ tự hỏi "mình biết nói tiếng việt từ lúc nào?".
            Tôi chỉ nhớ rằng, khi 5 tuổi đã có thể nói chuyện vô tư với mọi người xung quanh. Lúc đó chưa được học tiếng việt hay từ ngữ
         ngữ pháp gì cả. Một ví dụ mà tôi muốn gửi đến bạn, đó là những người không biết chữ, không được đi học, họ vẫn giao tiếp với mọi người
        xung quanh một cách bình thường như chúng ta.</p>
        <p>Vậy điều tôi muốn nói ở đây là: chúng ta vẫn có thể giao tiếp tiếng anh được mà không nhất thiết phải đến trường, phải học ngữ pháp. Một cách đơn giản
        để tiếp cận với tiếng anh đó là học như người bản xứ, học như một đứa trẻ và học từ cuộc sống hàng ngày. Phương pháp này giúp chúng ta có thể giao tiếp
        tiếng anh một cách cơ bản, tất nhiên nếu bạn muốn cao hơn thì phải học thêm. Khẩu quyết của phương pháp đó chính là "biến thói quen thành phản xạ", bạn
        lặp đi lặp lại một câu nói nó sẽ trở thành thói quen, bạn lặp lại nhiều hơn - nó sẽ thành phản xạ. Hãy nhớ lại câu chào "Hello" mà từ trẻ con đến người già
        đều biết, bạn sẽ liên tưởng thấy cách học này.</p>
        <p>Trong ứng dụng English Square, tôi đã đưa vào một số công cụ hỗ trợ cho việc học:</p>
        <ul class="left" style="padding-left: 0;list-style: none;">
            <li style="text-align: justify;"><b>1. Listen and repeat:</b> Đây là một loạt các đoạn hội thoại rất dễ nghe liên quan đến cuộc sống hàng ngày, trước hết bạn nên nghe mà không dịch, cố gắng vận dụng hết vốn từ
            mà mình có để hiểu nội dung, sau đó mới được đọc nội dung bằng tiếng anh và dịch những từ không hiểu sang tiếng việt. Hãy nghe đi nghe lại nhiều lần đến khi thuộc.</li>
            <li style="text-align: justify;"><b>2. Pronunciation:</b> Một series dạy cách phát âm giọng Anh-Mĩ rất hay, bạn nên học phát âm trước tiên, hiểu cách phát âm từ đó có thể nghe được các đoạn hội thoại dễ hàng hơn.</li>
            <li style="text-align: justify;"><b>3. Stories:</b> Tập hợp các câu chuyện ngắn và phát âm chậm, rõ ràng, nếu khó khăn với phần Listen and repeat, hãy thử phần này trước.</li>
            <li style="text-align: justify;"><b>4. 3000 common words:</b> Theo thống kê của Oxford thì chỉ cần nắm được 3000 từ vựng tiếng anh thông dụng bạn có thể hiểu được 95% trong hầu hết hoàn cảnh thông thường.</li>
            <li style="text-align: justify;"><b>5. Game - Word bricks:</b> Đây là trò chơi giúp bạn học 3000 từ thông dụng trên, có thể tranh thủ chơi vào lúc rảnh hoặc nghỉ giải lao.</li>
            <li style="text-align: justify;"><b>6. Quiz - Underscores:</b> Trò chơi giải đố yêu cầu bạn hoàn thành những câu thành ngữ trong tiếng anh, một trò chơi khó giúp nâng cao tiếng
                anh của bạn một cách toàn diện.</li>
        </ul>
        <p class="left">Và hãy luôn nhớ rằng: lặp đi lặp lại tất cả mọi thứ để chúng thành phản xạ tự nhiên, and you win.</p>
        <p class="center">Website: <a href="http://deverway.com/">www.deverway.com</a></p>
    </div>
</div>