<div class="ui-page ui-page-theme-a ui-page-header-fixed ui-page-active">
	<div data-role="header" data-position="fixed" class="bg-lightblue ui-header ui-bar-inherit ui-header-fixed slidedown">
		<a href="#leftpanel" class="ui-btn ui-btn-left" data-role="button" role="button"><i class="zmdi zmdi-home"></i></a>
		<h1 class="ui-title">Dashboard</h1>
	</div>

	<ul data-role="listview" data-icon="false" class="func-list ui-listview">
		<li>
			<a href="#listen-and-repeat" class="ui-btn waves-effect waves-button  waves-effect waves-button"><span class="circle-badge bg-lightblue"><i class="zmdi zmdi-headset zmd-fw"></i></span> Listen and repeat</a>
		</li>
		<li>
			<a href="#pronunciation" class="ui-btn waves-effect waves-button waves-effect waves-button"><span class="circle-badge bg-amber"><i class="zmdi zmdi-mic zmd-fw"></i></span> Learn pronunciation</a>
		</li>
		<li>
			<a href="#english-stories" class="ui-btn waves-effect waves-button"><span class="circle-badge bg-lightgreen"><i class="zmdi zmdi-hearing zmd-fw"></i></span> English stories</a>
		</li>
		<li>
			<a href="#words" class="ui-btn waves-effect waves-button"><span class="circle-badge bg-unknownred"><i class="zmdi zmdi-translate zmd-fw"></i></span> 3000 Common words</a>
		</li>
		<li>
			<a href="#word-bricks" class="ui-btn waves-effect waves-button"><span class="circle-badge bg-deeppurple"><i class="zmdi zmdi-view-subtitles zmd-fw"></i></span> Game: Word bricks</a>
		</li>
		<li>
			<a href="#quiz-underscores" class="ui-btn waves-effect waves-button"><span class="circle-badge bg-unknownpink"><i class="zmdi zmdi-incandescent zmd-fw"></i></span> Quiz: Underscores</a>
		</li>
		<li>
			<a href="#about" class="ui-btn waves-effect waves-button"><span class="circle-badge bg-unknownblue"><i class="zmdi zmdi-bookmark zmd-fw"></i></span> About</a>
		</li>
	</ul>
</div>

