<div class="ui-page ui-page-theme-a ui-page-header-fixed ui-page-active">
	<div data-role="header" data-position="fixed" class="bg-lightblue ui-header ui-bar-inherit ui-header-fixed slidedown">
		<a onClick="showLeftMenu();" href="javascript:void(0);" class="ui-btn ui-btn-left waves-effect waves-circle" data-role="button" role="button">
			<i class="zmdi zmdi-menu zmd-fw"></i>
		</a>
		<h1 class="ui-title">English stories</h1>
	</div>

	<ul class="ui-listview pronunciation-list normal-list hide-animate">
		<li ng-repeat="story in stories | limitTo : limit" ng-click="assignStory(story);">
			<a href="javascript:void(0);" class="ui-btn ui-btn-icon-right ui-icon-carat-r waves-effect waves-button">
				{{ story.title }}
			</a>
		</li>

	</ul>
</div>